* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Poppins', sans-serif;
    color: #fff;
    position: relative;
    z-index: 1;
    overflow-x: hidden;
  }
  
  .background-overlay {
    background: url(wp4056546-afghanistan-flag-wallpapers.jpg) center center / cover no-repeat;
    filter: blur(6px) brightness(0.6);
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    z-index: -1;
  }
  
  header {
    text-align: center;
    padding: 40px 20px;
    background: rgba(6, 6, 6, 0.6);
  }
  
  h1 {
    font-size: 3rem;
    color: #e7e3dc;
    letter-spacing: 2px;
  }
  
  
  .subtitle {
    font-size: 1.2rem;
    color: #ecebe9;
  }
  
  nav {
    margin-top: 20px;
  }
  
  
  nav a {
    color: #655454;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
  }
  
  nav a:hover {
    color: #524f3e;
  }
  
  .intro {
    padding: 40px 20px;
    text-align: center;
  }
  
  .intro input {
    padding: 10px;
    margin-top: 20px;
    width: 300px;
    max-width: 90%;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
  }
  
  .featured-proverbs {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    flex-wrap: wrap;
  }
  
  .card {
    background: rgba(71, 65, 65, 0.819);
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease, background 0.3s ease;
    backdrop-filter: blur(3px);
  }
  

  .form {
    background: rgba(68, 9, 9, 0.819);
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    text-align: center;
    
    backdrop-filter: blur(3px);
  }
  .card:hover {
    background: rgba(245, 245, 244, 0.2);
    transform: scale(1.05);
  }
  
  .proverb {
    font-family: 'Noto Nastaliq Urdu', serif;
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  
  
  .translation {
    font-size: 1rem;
    color: #a0978a;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background: rgba(0, 0, 0, 0.7);
    font-size: 0.9rem;
    color: #ccc;
  }

  